﻿
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
                  <span class="alert alert-success">        <strong>You logged in successfully </strong></span> 
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
